@import "tailwindcss";

/* Contenedor del scroll */
::-webkit-scrollbar {
  width: 8px; /* ancho de la barra vertical */
  height: 8px; /* alto de la barra horizontal */
}

/* Fondo del scroll */
::-webkit-scrollbar-track {
  background: transparent;
}

/* La barra en sí */
::-webkit-scrollbar-thumb {
  background: #1f2b3b;
  border-radius: 4px;
}

/* Al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #1d2836;
}
